%h2.heading Article Basic Info
%div.article_info
    %ul
        %li.article_info_element
            =@article_temp_info["webTitle"]
        %li.article_info_element
            =@article_temp_info["webPublicationDate"]
        %li.article_info_element
            =link_to "#{@article_temp_info["webUrl"]}", @article_temp_info["webUrl"], target: "_blank"
        %li.article_info_element
            =link_to "#{@article_temp_info["sectionName"]}", "/#{@article_temp_info["sectionName"]}"
%h2.heading No comments
-if @current_user.present?
    =form_for @comment do |attr|
        =attr.label :subject, "Subject title:"
        =attr.text_field :subject, :class => "form_element"
        %br
        =attr.label :text_body, "Comment"
        =attr.text_area :text_body, :class => "form_element"
        =hidden_field_tag 'article_id', params[:url]
        =attr.submit
-else
    ="You must be logged in to comment."