%h2.heading Login
%br
-if flash[:errors]
    %p.error_message="#{flash[:errors]}"
%br
=form_tag login_path, :class => "registration_form" do
    =label_tag (:email)
    =email_field_tag :email, nil
    %br
    =label_tag (:password)
    =password_field_tag :password, nil
    %br
    =submit_tag 'Login'