%h2.heading Registration form
%br
-if flash[:errors]
    %p.error_message Invalid inputs
    %ul
        - flash[:errors].each do |error|
            %li
                =error
%br
=render :partial => 'form'