%h2.heading Profile information
%hr
%ul.deets
    %li
        ="First name: #{@user.first_name}"
    %br
    %li
        ="Last name: #{@user.last_name}"
    %br
    %li
        ="Email: #{@user.email}"
    %br
    %li
        =cl_image_tag(@user.image)
    %br
%h2.heading Your discussions
%p.user_info
    -if @user_subjects.length == 0
        ="You are currently not participating in any discussions."
    -else
        -@user_subjects.each do |sub|
            =sub
%h2.heading Your comments
%p.user_info
    -if @user_comments.length == 0
        ="You currently do not have any comments."
    -else
        -@user_comments.each do |com|
            =com