%h2.heading About this website
%br
%p.about_info
    This is a website for people to share their incorrect opinions on current events, and it's up to YOU to correct them!
%br
%h2.heading About Scott
%br
%p.about_info
    =link_to "Twitter", "https://twitter.com/achacttn"
    %br
    %br
    GA WDI 27
    %br
    %br
%h2.heading Coming soon! &#8482;
%p.about_info
    ="Multiple API news sources"
    %br
    %br
    ="Notifications"
    %br
    %br
    ="Sorting filters"