%h2.heading CONTROVERSIAL ARTICLES
%ul
    -@article_array.each do |x_1|
        %li.article-display
            =x_1["title"]
            %br
            %a{ :href => "#" }
                =x_1["section"]
            %br
            Published:
            =x_1["publish_date"]
            %br
            Comments:
            =x_1.comments.length
            %br
            %a{ :href => "#{x_1['url']}" }
                =x_1['url']
%h2.heading LATEST HEADLINES
%ul
    -@results["response"]["results"].each do |x|
        %li.article-query
            =x["webTitle"]
            %br
            %a{ :href => "/#{x["sectionName"]}" }
                ="#{x["sectionName"]}"
            %br
            Published:
            =x["webPublicationDate"]
            %br
            %a{ :href => "showpage" }
                ="Be the first to comment"
            %br
            %a{ :href => "#{x["webUrl"]}" }
                =x["webUrl"]