%h2.heading CONTROVERSIAL ARTICLES
\
%h2.heading LATEST HEADLINES
%ul
    -@results["response"]["results"].each do |x|
        %li.search-result
            =x["webTitle"]
            %br
            Published:
            =x["webPublicationDate"]
            %br
            %a{ :href => "#{x["webUrl"]}" }
                =x["webUrl"]
            %br
            Category:
            =x["sectionName"]