%h2.heading
    ="Search results for #{@searching}"

%ul
    -@search_results["response"]["results"].each do |x|
        %li.article-query
            =x["webTitle"]
            %br
            =link_to "#{x["sectionName"]}", "/#{x["sectionName"]}"            
            %br
            Published:
            =x["webPublicationDate"]
            %br
            =link_to "Be the first to comment", article_comment_path(x['id'])            
            %br
            =link_to "#{x["webUrl"]}", x["webUrl"], target: "_blank"