/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: whitesmoke;
}

.main-header, .heading {
    padding: 15px;
    color: cyan;
}

.main-header {
    color: slategray;
}

.heading {
    background-color: rgba(10,10,10,0.8);
}

.main-nav {
    background-color: rgba(10,10,10,0.8);
    color: cyan;
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-links {
    text-decoration: none;
    color: cyan;
}

.nav-list-elements:hover {
    background-color: rgba(90,90,90,0.8);
}

.nav-list-elements:hover:nth-of-type(2) {
    background-color: inherit;
}

.nav-list-elements > a:link {
    color: cyan;
    text-decoration: none;
}

.nav-list-elements > a:visited {
    color: cyan;
    text-decoration: none;
}

.main-wrapper {
    margin-top: 60px;
}

h1, h2, ul {
    margin-left: 100px;
}

ul {
    list-style-type: none;
}

.nav-list-elements {
    display: inline-block;
    font-size: 20px;
    padding: 18px;
}

.nav-search {
    height: 25px;
    background-color: rgb(168, 155, 155);
}

.article-query, .article-display {
    margin: 15px;
}

.article-query:hover, .article-display:hover {
    background-color: rgba(180,180,180,0.7);
}

.registration_form {
    margin-left: 100px;
}

.registration_form > * {
    padding: 10px;
    font-size: 15px;
    background-color: rgba(0,0,250,0.1);
}

.form_element:hover {
    background-color: rgba(0,0,250,0.2);
}

.error_message {
    margin-left: 100px;
    color: rgba(255,0,0,1);
    font-size: x-large;
}

.deets > * {
    padding: 5px;
}

.deets > *:first-child {
    padding: 30px 0px 0px 0px;
}

.user_info, .about_info {
    padding: 20px 0px;
    margin-left: 100px;
}

.article_info_element {
    padding: 10px 0px;
}

.comment_section {
    background-color: rgba(255,0,0,0.3);
    height: 500px;
}

.subject_list_element {
    border: 2px solid black;
}

.subject_list_element_title {
    color: red;
    padding: 20px;
}

.comment_list_element {
    border: 2px dotted black;
    padding: 12px;
}