/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.main-header, .heading {
    padding: 15px;
    color: mediumaquamarine;
}

.main-nav {
    background-color: rgba(10,10,10,0.8);
    color: cyan;
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-links {
    text-decoration: none;
    color: cyan;
}

.main-wrapper {
    margin-top: 60px;
}

h1, h2, ul {
    margin-left: 100px;
}

ul {
    list-style-type: none;
}

.nav-list-elements {
    display: inline-block;
    font-size: 20px;
    margin: 19px;
}

.nav-search {
    height: 25px;
    background-color: rgb(168, 155, 155);
}

.article-query, .article-display {
    margin: 15px;
}

.article-query:hover, .article-display:hover {
    background-color: hotpink;
}